<div class="container-fluid" id="contact">
  <div class="row" id="contact-info">
    <div class="col-xs-12 col-md-4 col-md-offset-4" id="info-black">
      <h1>Contact Us</h1>
      <hr>
      <% flash[:notice] %>
      <%= form_tag("/static_pages/thank_you") do %>
    
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group" id="contact-form">
            <%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name" %>
          </div> <!-- end form-group -->

          <div class="form-group">
           <%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email" %>
          </div> <!-- end form-group -->

          <div class="form-group">
           <%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message" %>
          </div> <!-- end form-group -->
        
        </div> <!-- end col -->
      </div> <!-- end row -->
      
      <%= submit_tag "Send" %>
      <% end %>
    </div> <!-- end contact-black -->
  </div> <!-- end contact-info -->

  <div class="center-block text-center" id="contact-back-btn">
    <div class="row">
      <%= link_to 'Back', races_path, class: 'btn btn-sm'%>
    </div> <!-- row ends -->
  </div>

</div> <!-- end contact -->