 <% if signed_in? %> 
  <h4>Add a review:</h4>
    <%= form_for([@product, @product.comments.build], remote: true) do |f| %>
      <% if @comment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

          <ul>
          <% @comment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      
      <p><%= f.label :body, "Comments" %><br></p>
      <p><%= f.text_area :body %></p>
      
      <p>
        <div class="rating"></div>
      </p>

      <p>
        <%= f.submit "Submit", class: 'submit btn btn-sm' %>
      </p>
    <% end %>
  <% end %>  <!-- ends comments and rating -->