<div class="col-xs-12 col-md-4" id="races-block">
  <p>
    <%= image_tag product.image_url, class:"img-responsive" %> 
  </p>
  <!-- <p id="notice"><%= notice %></p> -->
  <!-- <p> //* product name, not used. could be removed *//
        <strong><%= product.market_name %></strong>
        </p> -->
  <hr>
  
  <h4>
    <%= product.description %>
  </h4>

  <hr>

  <p>
    <strong><%= number_to_currency(product.fee, unit: '£') %></strong>
  </p>

  <hr>

  <div class="row row-centered" id="icons">
    <div class="col-xs-3">
      <%= image_tag ('run-numb-icon.png'), class:"img-responsive"%>
    </div>
      
    <div class="col-xs-3">
      <%= image_tag ('stop-watch-icon.png'), class:"img-responsive"%>
    </div>
      
    <div class="col-xs-3">
      <%= image_tag ('t-shirt-icon.png'), class:"img-responsive"%>
    </div>
        
    <div class="col-xs-3">
      <%= image_tag ('medal-icon.png'), class:"img-responsive"%>
    </div>
  </div> <!-- ends icons row -->

  <div class="row" id="enter-race">
    <div class="col-sm-12 col-md-4">
      <hr class="style2">
    </div>
      
    <div class="col-xs-12 col-md-4">
      <% if visit %>
        <div>
          <%= link_to "Enter Race", product_path(product), class: 'btn btn-sm' %>
        </div>
    </div>

    <div class="col-sm-12 col-md-4">
      <hr class="style2">
    </div>
  </div> <!-- end enter-race -->

  <% end %>

</div> <!-- end races-block-->



