<!-- <div class="row" id="races-all"> -->
  <div class="col-xs-12 col-md-4 col-centered" id="races-block">
      <p>
        <%= image_tag product.image_url, class:"img-responsive" %> 
      </p>
      <p id="notice"><%= notice %></p>
    
    <hr class="style1">
    
    <p>
      <strong><%= product.market_name %></strong>
    </p>

    <hr class="style1">

    <p>
      <%= product.description %>
    </p>

    <hr class="style1">

    <p>
      <strong><%= number_to_currency(product.fee, unit: '£') %></strong>
    </p>

    <hr class="style1">

    <div class="row row-centered" id="icons">
      <div class="col-sm-6 col-md-3">
        <%= image_tag ('run-numb-icon.png'), class:"img-responsive"%>
      </div>
      
      <div class="col-sm-3">
        <%= image_tag ('stop-watch-icon.png'), class:"img-responsive"%>
      </div>
      
      <div class="col-sm-3">
        <%= image_tag ('t-shirt-icon.png'), class:"img-responsive"%>
      </div>
        
      <div class="col-sm-3">
        <%= image_tag ('medal-icon.png'), class:"img-responsive"%>
      </div>
    </div> <!-- ends icons row -->

    <div class="row" id="enter-race">
      <div class="col-sm-12 col-md-4">
        <hr class="style2">
      </div>
      
      <div class="col-xs-12 col-md-4">
        <% if visit %>
          <div>
            <%= link_to "Enter Race", product_path(product), class: 'btn btn-sm' %>
          </div>
      </div>

      <div class="col-sm-12 col-md-4">
        <hr class="style2">
      </div>
    </div> <!-- end enter-race -->


 
    <% end %>

  </div> <!-- end races-block-->
<!-- </div> -->  <!-- end races-all-->

