<div class="container-fluid" id="race">
  
  <div class="row row-centered" id="race-info">
    <div class="col-xs-12 col-md-4 col-centered" id="races-block">
      <p>
        <%= image_tag @product.image_url, class:"img-responsive" %>
      </p>
    
    <p id="notice"><%= notice %></p>

    <hr class="style1">
      
      <p>
        <strong><%= @product.name %></strong>
      </p>

      <hr class="style1">
      
      <p id="p01-white">
        <%= @product.description %>
      </p>

      <hr class="style1">

      <p id="p03">
        <strong><%= @product.event_date.strftime("%d.%m.%y") %></strong>
      </p>

       <hr class="style1">

      <p id="p04">
        <%= number_to_currency(@product.fee, unit: '£') %>
      </p>

      <%= form_tag "/payments/create" do %>
      <%= render partial: "shared/stripe_checkout_button" %>
      <% end %>
    </div>

    <div class="col-xs-12 col-md-4 col-centered" id="races-block">
      <hr class="style1">
      
      <p id="p01">
        The first in the reservoir run series will take place at Derwent reservoir running over roads and cleared tracks through ancient woodland around the reservoir. The route includes a few hills to offer a small challenge around the course in the most scenic countryside &amp; forest. 
      </p>
         
      <hr class="style1">
    
      <div class="row" id="icons">
      <div class="col-sm-6 col-md-3">
        <%= image_tag ('run-numb-icon.png'), class:"img-responsive"%>
      </div>

       <div class="col-sm-6 col-md-3">
        <%= image_tag ('stop-watch-icon.png'), class:"img-responsive"%>
      </div>
      
      <div class="col-sm-6 col-md-3">
        <%= image_tag ('t-shirt-icon.png'), class:"img-responsive"%>
      </div>
        
      <div class="col-sm-6 col-md-3">
        <%= image_tag ('medal-icon.png'), class:"img-responsive"%>
      </div>
    </div> <!-- ends icons row -->

   

       <p id="p01">
        All runners will receive a number, a chipped time, a medal and a T-shirt. 
        </p>

        <hr class="style1">
        
        <p id="p02">
          Race numbers and your timing chip will be given out on the morning of the race. <br>Please allow enough time to collect these from Race Registration. 
      </p>

       <hr class="style1">

       <p id="p05">
        Race starts 10.30am
       </P>
    </div>
     
    <div class="col-xs-12 col-md-4 col-centered" id="races-block">
      <hr class="style1">
      <p>
        <strong>Course Map:</strong>
        <%= @product.name %>
      </p>
      <hr class="style1">
    
      <p>
         <strong>Course Elevation:</strong>
        <%= @product.description %>
      </p>
      <hr class="style1">

      <%= link_to 'Review', product_comments_path(@product), class: 'btn btn-sm' %>
    </div>
  
  </div> <!-- row ends -->

  <div class="center-block text-center" id="back-btn">
    <%= link_to 'Back', races_path, class: 'btn btn-sm'%>
  </div>
  </div>
</div> <!-- end container-fluid race-info -->

